@import '../../commons/common.scss';

.content-gemini-prompt {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: transparent;

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    padding: 0 10rem;
  }

  .content-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 25px;
    color: #000;
    background-color: $primary-color;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .prompt-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .prompt-item {
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(126, 0, 0);
    text-align: left;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 15px;

    &:hover {
      background-color: #c20000;
    }

    &.selected {
      background-color: #ffd900;
      color: #000000;

      p {
        color: #000000;
        font-weight: 600;
      }
    }
  }

  .btn-generate-prompt {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .result {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(126, 0, 0);
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    min-width: 100%;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
  }
}
