.content-11 {
  min-height: 100vh;

  p {
    font-size: 19px;
  }

  .content {
    padding: 0 10rem;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;

    @media (max-width: 1024px) {
      padding: 0 3rem;
      grid-template-columns: 1fr;
    }

    @media (max-width: 768px) {
      padding: 0 1.2rem;
      grid-template-columns: 1fr;
    }
  }

  h2 {
    margin-bottom: 30px;
  }

  .section-content-11 {
    margin-bottom: 150px;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(52, 0, 0);
    color: white;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;

    &.show {
      transform: translateY(0);
    }

    .navbar-content-11 {
      display: flex;
      overflow-x: auto;
      gap: 1rem;
      white-space: nowrap;
      scroll-behavior: smooth;

      .nav-item-11 {
        white-space: nowrap;
        font-size: 0.9rem;
        opacity: 0.6;
        transition: opacity 0.3s ease;
        cursor: pointer;

        &.highlighted {
          opacity: 1;
          color: yellow;
        }
      }
    }

    .progress-bar {
      height: 3px;
      width: 100%;
      background-color: yellow;
      transition: width 0.3s ease-in-out;
    }
  }
}
