@import "../../commons/common.scss";

.content-course-intro {
  position: relative;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  column-gap: 50px;
  min-height: 1000px;
  align-items: center;
  padding: 0 10rem;
  padding-top: 1200px;
  margin-bottom: 300px;

  img {
    width: 100%;
    height: auto;

    @media (max-width: 1024px) {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 1024px) {
    padding: 0 2rem;
    padding-top: 1200px;
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  .node {
    font-size: 28px;
    color: #000;
    background-color: $primary-color;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .content {
    font-size: 19px;
  }
}