@import "../../commons/common.scss";

.home-title {
  min-height: calc(100vh);
  .content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20vw;
    margin-bottom: 50vh;
    z-index: 10;

    .title {
      animation-delay: 0s;
      font-size: 25px;
      background-color: $primary-color;
      padding: 3px 20px;
      border-radius: 14px;
      color: #000000;
      font-weight: 600;
    }

    .subtitle {
      animation-delay: 0.2s;
      font-size: 21px;
    }

    h1 {
      animation-delay: 0.4s;
      margin-top: 35px;
    }
  }
}