.home-footer {
  width: 100vw;
  min-height: 100px;
  background-color: rgb(112, 0, 0);
  padding-top: 30px;

  .content {
    
    .content-association {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        font-size: 15px;

        @media (max-width: 768px) {
          font-size: 13px;
        }
      }

      .title {
        font-size: 23px;
        font-weight: 600;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }

  .copyright {
    margin-top: 100px;
    text-align: center;
    padding: 8px 0;
    background-color: rgb(67, 0, 0);
    font-size: 13px;
  }
}