@import "../../commons/common.scss";

.home-github {
  min-height: calc(100vh);

  .content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20vw;
    margin-bottom: 50vh;
    z-index: 10;
  }

  .subtitle {
    font-size: 20px;
  }

  .title {
    font-size: 35px;
    font-weight: 700;
  }

  .github {
    margin-top: 60px;
  }
 
}
