.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 100vw; 
  min-height: 100vh; 
  width: auto;
  height: auto;
  background-color: #FF0000;

  video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
    min-width: 100vw; 
    min-height: 100vh; 
    width: auto;
    height: auto;
  
  }
}